<div class="table-responsive" ng-controller="MainCtrl">
  <div class="jumbotron" ng-hide="toggleTblMsg">There's nothing to see here. Maybe try adding some notes?</div>
  <table class="table" ng-show="toggleTable">
    <thead>
      <tr>
        <th>Note Title</th>
        <th>Note Content</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="note in notes">
        <td><a href="#" editable-text="note.noteTitle">{{note.noteTitle}}</td>
        <td><a href="#" editable-text="note.noteContent">{{note.noteContent}}</td>
        <td><button type="button" class="btn btn-danger" ng-click="deleteNote($index)" aria-label="Delete">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
